
/*nav li a{

    padding: 25px;
    color:rgb(255, 194, 113);
    text-decoration: none;
    font-weight: bold;
    
   
    
}

h1{
    color: rgb(255, 145, 0);
}

nav li{
    float:left;
}

nav ul{
    float: right;
    list-style: none;
}*/